<h2 style="text-align: center">SOLID REST API /quotes data/</h2>
<div class="container d-flex justify-content-center">
  <div *ngIf="!load">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
  </div>

  <div style="text-align:center" *ngIf="error">
    <div class="alert alert-danger" role="alert">
      {{ this.errorMessage }}
    </div>
    <button (click)="reload()" type="button" class="btn btn-warning">Reload...</button>
  </div>
</div>

<table *ngIf="load && !error" class="table table-striped m-5" style="max-width: 90%">
  <tbody class="d-block-flex p-2">
    <tr>
      <td>Last</td>
      <td>{{ data['LVAL_NORM']?.v }}</td>
      <td>{{ data['LVAL_NORM']?.d | date}}</td>
    </tr>
    <tr>
      <td>Close</td>
      <td>{{ data['CLOSE_ADJ_NORM']?.v }}</td>
      <td>{{ data['CLOSE_ADJ_NORM']?.d | date}}</td>
    </tr>
    <tr>
      <td>Day Change %</td>
      <td>{{ data['NC2_PR_NORM']?.v }}</td>
      <td></td>
    </tr>
    <tr>
      <td>Day Change</td>
      <td>{{ data['NC2_NORM']?.v }}</td>
      <td></td>
    </tr>
    <tr>
      <td>Volume</td>
      <td>{{ data['VOL']?.v }}</td>
      <td></td>
    </tr>
    <tr>
      <td>Turnover</td>
      <td>{{ data['TUR']?.v }}</td>
      <td></td>
    </tr>
    <tr>
      <td>Previous year close</td>
      <td>{{ data['PY_CLOSE']?.v }}</td>
      <td>{{ data['PY_CLOSE']?.d | date}}</td>
    </tr>
    <tr>
      <td>YTD %</td>
      <td>{{ data['YTD_PR_NORM']?.v }}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
